@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: grey;
  overflow: hidden;
  font-family: 'Varela Round', sans-serif;
}
header {
  margin: auto;
  margin-top: 15px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 45px;
}
#dataType {
  text-align: center;
}
.map-section {
  display: flex;
  justify-content: center;
  position: relative;
}
#map {
  height: 500px;
  width: 60%;
  border: 1px solid black;

}
#rewardsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  position: absolute;
  right: 20%;
  top: 0;
  z-index: 11;
  margin-top: 10px;
}
#rewardsForm button {
  width: 100px;
  height: 27.5px;
  margin-top: 10px;
  border: none;
}
.download {
  width: 60%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
